In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

<Token var=<ContextVar name='format_options' default={'edgeitems': 3, 'threshold': 1000, 'floatmode': 'maxprec', 'precision': 8, 'suppress': False, 'linewidth': 75, 'nanstr': 'nan', 'infstr': 'inf', 'sign': '-', 'formatter': None, 'legacy': 9223372036854775807, 'override_repr': None} at 0x0000025C7D544AE0> at 0x0000025C1E967D40>

In [2]:
import numpy as np
import pandas as pd

In [7]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2024, 9, 18, 10, 6, 56, 642908)

In [8]:
now.year, now.month, now.day

(2024, 9, 18)

In [9]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [11]:
delta.days

926

In [12]:
delta.seconds

56700

In [13]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start

datetime.datetime(2011, 1, 7, 0, 0)

In [14]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [15]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [40]:
stamp = datetime(2024, 9, 18)
str(stamp)

'2024-09-18 00:00:00'

In [41]:
stamp.strftime("%Y-%m-%d")

'2024-09-18'

In [42]:
stamp.strftime("%y")

'24'

In [43]:
# Hour (12-hour clock) [01, 12]
stamp.strftime("%I")

'12'

In [44]:
# Day of the year as a zero-padded decimal number [001,366]
stamp.strftime("%j")

'262'

In [45]:
# weekday as an integer, where Monday is 0, Sunday is 6
stamp.strftime("%w")

'3'

In [46]:
# Weekday as an integer starting from 1, where 1 is Monday
stamp.strftime("%u")

'3'

In [47]:
# Week number of the year [00, 53]; Sunday is conWeek number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0”
stamp.strftime("%U")

'37'

In [48]:
# Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”
stamp.strftime("%W")

'38'

In [49]:
# UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
stamp.strftime("%z")

''

In [50]:
# Time zone name as a string, or empty string if no time zone
stamp.strftime("%Z")

''

In [51]:
# Shortcut for %Y-%m-%d (e.g., 2012-4-18)
stamp.strftime("%F")

'2024-09-18'

In [52]:
# Shortcut for %Y/%m/%d (e.g., 2012/4/18)
stamp.strftime("%D")

'09/18/24'

In [76]:
# Abbreviated weekday name
stamp.strftime("%a")

'Wed'

In [77]:
# Full weekday name
stamp.strftime("%A")

'Wednesday'

In [78]:
# Abbreviated month name
stamp.strftime("%b")

'Sep'

In [79]:
# Full month name
stamp.strftime("%B")

'September'

In [81]:
# Full date and time (e.g., ‘Tue 01 May 2012 04:20:57 PM’)
stamp.strftime("%c")

'Wed Sep 18 00:00:00 2024'

In [82]:
# Locale equivalent of AM or PM
stamp.strftime("%p")

'AM'

In [83]:
# Locale-appropriate formatted date (e.g., in the United States, May 1, 2012 yields ‘05/01/2012’)
stamp.strftime("%x")

'09/18/24'

In [84]:
# Locale-appropriate time (e.g., ‘04:24:12 PM’)
stamp.strftime("%X")

'00:00:00'

In [53]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [59]:
# value = "2011-01-03"
# datetime.strptime(value, "%F")

ValueError: 'F' is a bad directive in format '%F'

In [55]:
datestrs = ["7/6/2011", "8/6/2011"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [62]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [63]:
datestrs = ["2011/07/06 12:00:00", "2011/08/06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [65]:
datestrs = ["2011-07-06 12:00:00", "2011/08/06 00:00:00"]
pd.to_datetime(datestrs, format="mixed")

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [68]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [69]:
idx[2]

NaT

In [70]:
pd.isna(idx)

array([False, False,  True])

In [71]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [72]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [74]:
ts[::2]

2011-01-02   -0.204708
2011-01-07   -0.519439
2011-01-10    1.965781
dtype: float64

In [73]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [75]:
ts.index.dtype

dtype('<M8[ns]')

In [85]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [89]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [90]:
ts[stamp]

np.float64(-0.5194387150567381)

In [91]:
ts["2011-01-10"]

np.float64(1.9657805725027142)

In [92]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
longer_ts

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
                ...
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, Length: 1000, dtype: float64

In [93]:
longer_ts["2001"]

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
                ...
2001-12-27    0.057874
2001-12-28   -0.433739
2001-12-29    0.092698
2001-12-30   -1.397820
2001-12-31    1.457823
Freq: D, Length: 365, dtype: float64

In [94]:
longer_ts["2001-05"]

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
                ...
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [97]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [98]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [99]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [101]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [104]:
ts["2011-01-06":"2011-01-10"]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [107]:
ts.truncate(after="2011-01-09")

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [111]:
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas",
                                "New York", "Ohio"])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.576154 -0.507370  0.907054  0.831648
2000-01-12  0.160621  1.359500  0.791455  1.894683
2000-01-19 -0.501231  1.973092  1.167084  1.390090
2000-01-26  0.094584 -1.180179  0.416647  1.703658
2000-02-02 -0.011850  0.479222  1.207972  0.023017
...              ...       ...       ...       ...
2001-10-31 -0.870229 -0.044685 -0.586679  0.629777
2001-11-07  0.805876 -0.556207  0.020182 -0.586615
2001-11-14 -1.360064  0.813568  0.488321  0.395433
2001-11-21  0.766159  1.999486  0.517431 -0.756552
2001-11-28  1.171381 -1.212491 -0.399609 -0.325340

[100 rows x 4 columns]

In [112]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02  0.579498 -2.261761 -0.891224 -1.953536
2001-05-09  0.594454  1.922484 -0.357668  0.266273
2001-05-16  0.560855 -0.910333  2.272422 -1.553641
2001-05-23 -0.502540  0.567209 -0.475457  0.479696
2001-05-30 -1.320556 -0.484352  1.772486 -1.677582

In [114]:
long_df.loc["2001-05-01":"2001-05-30"]

            Colorado     Texas  New York      Ohio
2001-05-02  0.579498 -2.261761 -0.891224 -1.953536
2001-05-09  0.594454  1.922484 -0.357668  0.266273
2001-05-16  0.560855 -0.910333  2.272422 -1.553641
2001-05-23 -0.502540  0.567209 -0.475457  0.479696
2001-05-30 -1.320556 -0.484352  1.772486 -1.677582

In [115]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [116]:
dup_ts.index.is_unique

False

In [117]:
dup_ts["2000-01-03"]  # not duplicated

np.int64(4)

In [118]:
dup_ts["2000-01-02"]  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [119]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [120]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [121]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [123]:
resampler = ts.resample("D")
resampler

In [124]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [125]:
pd.date_range(start="2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [126]:
pd.date_range(end="2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [127]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3742551278.py:1: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  pd.date_range("2000-01-01", "2000-12-01", freq="BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [128]:
pd.date_range("2000-01-01", "2000-12-01", freq="BME")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BME')

In [129]:
pd.date_range("2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [130]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [131]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [132]:
four_hours = Hour(4)
four_hours

In [133]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3449897904.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4h')

In [134]:
Hour(2) + Minute(30)

In [135]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90min')

In [140]:
monthly_dates = pd.date_range("2024-01-01", "2024-09-01", freq="WOM-3FRI")
monthly_dates

DatetimeIndex(['2024-01-19', '2024-02-16', '2024-03-15', '2024-04-19',
               '2024-05-17', '2024-06-21', '2024-07-19', '2024-08-16'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [141]:
list(monthly_dates)

[Timestamp('2024-01-19 00:00:00'),
 Timestamp('2024-02-16 00:00:00'),
 Timestamp('2024-03-15 00:00:00'),
 Timestamp('2024-04-19 00:00:00'),
 Timestamp('2024-05-17 00:00:00'),
 Timestamp('2024-06-21 00:00:00'),
 Timestamp('2024-07-19 00:00:00'),
 Timestamp('2024-08-16 00:00:00')]

In [142]:
ts = pd.Series(np.random.standard_normal(4),
               index=pd.date_range("2000-01-01", periods=4, freq="M"))
ts

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3562605038.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  index=pd.date_range("2000-01-01", periods=4, freq="M"))

2000-01-31    0.597205
2000-02-29    0.039901
2000-03-31   -0.757430
2000-04-30    1.698482
Freq: ME, dtype: float64

In [143]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.597205
2000-04-30    0.039901
Freq: ME, dtype: float64

In [144]:
ts.shift(-2)

2000-01-31   -0.757430
2000-02-29    1.698482
2000-03-31         NaN
2000-04-30         NaN
Freq: ME, dtype: float64

In [154]:
ts / ts.shift(2) - 1

2000-01-31          NaN
2000-02-29          NaN
2000-03-31    -2.268291
2000-04-30    41.567836
Freq: ME, dtype: float64

In [145]:
ts.shift(2, freq="M")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\903147437.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.shift(2, freq="M")

2000-03-31    0.597205
2000-04-30    0.039901
2000-05-31   -0.757430
2000-06-30    1.698482
Freq: ME, dtype: float64

In [146]:
ts.shift(2, freq="ME")

2000-03-31    0.597205
2000-04-30    0.039901
2000-05-31   -0.757430
2000-06-30    1.698482
Freq: ME, dtype: float64

In [148]:
ts.shift(3, freq="D")

2000-02-03    0.597205
2000-03-03    0.039901
2000-04-03   -0.757430
2000-05-03    1.698482
dtype: float64

In [149]:
ts.shift(1, freq="90T")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\584021106.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  ts.shift(1, freq="90T")

2000-01-31 01:30:00    0.597205
2000-02-29 01:30:00    0.039901
2000-03-31 01:30:00   -0.757430
2000-04-30 01:30:00    1.698482
dtype: float64

In [155]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [156]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [163]:
now - MonthEnd()

Timestamp('2011-10-31 00:00:00')

In [157]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [158]:
offset = MonthEnd()
offset

In [159]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [160]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [161]:
ts = pd.Series(np.random.standard_normal(20),
               index=pd.date_range("2000-01-15", periods=20, freq="4D"))
ts

2000-01-15   -0.434694
2000-01-19    0.516461
2000-01-23   -0.153220
2000-01-27   -0.452038
2000-01-31    0.777409
2000-02-04   -0.163869
2000-02-08   -0.776469
2000-02-12   -1.229509
2000-02-16    0.422435
2000-02-20    1.412942
2000-02-24    0.917802
2000-02-28   -0.183745
2000-03-03    0.589207
2000-03-07    1.024586
2000-03-11    0.874961
2000-03-15    0.370509
2000-03-19   -1.621348
2000-03-23    0.053447
2000-03-27   -0.421686
2000-03-31    1.050658
Freq: 4D, dtype: float64

In [162]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31    0.050784
2000-02-29    0.057084
2000-03-31    0.240042
dtype: float64

In [164]:
ts.resample("M").mean()

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3978117481.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.resample("M").mean()

2000-01-31    0.050784
2000-02-29    0.057084
2000-03-31    0.240042
Freq: ME, dtype: float64

In [165]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [166]:
tz = pytz.timezone("America/New_York")
tz

In [167]:
dates = pd.date_range("2012-03-09 09:30", periods=6)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-09 09:30:00   -0.173546
2012-03-10 09:30:00   -0.443632
2012-03-11 09:30:00   -0.630470
2012-03-12 09:30:00   -0.984048
2012-03-13 09:30:00   -0.157021
2012-03-14 09:30:00    1.533124
Freq: D, dtype: float64

In [168]:
print(ts.index.tz)

None

In [169]:
pd.date_range("2012-03-09 09:30", periods=10, tz="UTC")

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [170]:
ts

2012-03-09 09:30:00   -0.173546
2012-03-10 09:30:00   -0.443632
2012-03-11 09:30:00   -0.630470
2012-03-12 09:30:00   -0.984048
2012-03-13 09:30:00   -0.157021
2012-03-14 09:30:00    1.533124
Freq: D, dtype: float64

In [171]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00   -0.173546
2012-03-10 09:30:00+00:00   -0.443632
2012-03-11 09:30:00+00:00   -0.630470
2012-03-12 09:30:00+00:00   -0.984048
2012-03-13 09:30:00+00:00   -0.157021
2012-03-14 09:30:00+00:00    1.533124
Freq: D, dtype: float64

In [172]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [173]:
ts_utc.tz_convert("America/New_York")

2012-03-09 04:30:00-05:00   -0.173546
2012-03-10 04:30:00-05:00   -0.443632
2012-03-11 05:30:00-04:00   -0.630470
2012-03-12 05:30:00-04:00   -0.984048
2012-03-13 05:30:00-04:00   -0.157021
2012-03-14 05:30:00-04:00    1.533124
Freq: D, dtype: float64

In [174]:
ts_eastern = ts.tz_localize("America/New_York")
ts_eastern

2012-03-09 09:30:00-05:00   -0.173546
2012-03-10 09:30:00-05:00   -0.443632
2012-03-11 09:30:00-04:00   -0.630470
2012-03-12 09:30:00-04:00   -0.984048
2012-03-13 09:30:00-04:00   -0.157021
2012-03-14 09:30:00-04:00    1.533124
dtype: float64

In [175]:
ts_eastern.tz_convert("UTC")

2012-03-09 14:30:00+00:00   -0.173546
2012-03-10 14:30:00+00:00   -0.443632
2012-03-11 13:30:00+00:00   -0.630470
2012-03-12 13:30:00+00:00   -0.984048
2012-03-13 13:30:00+00:00   -0.157021
2012-03-14 13:30:00+00:00    1.533124
dtype: float64

In [176]:
ts_eastern.tz_convert("Europe/Berlin")

2012-03-09 15:30:00+01:00   -0.173546
2012-03-10 15:30:00+01:00   -0.443632
2012-03-11 14:30:00+01:00   -0.630470
2012-03-12 14:30:00+01:00   -0.984048
2012-03-13 14:30:00+01:00   -0.157021
2012-03-14 14:30:00+01:00    1.533124
dtype: float64

In [177]:
ts.index.tz_localize("Asia/Shanghai")

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

In [178]:
stamp = pd.Timestamp("2011-03-12 04:00")
stamp_utc = stamp.tz_localize("utc")
stamp_utc.tz_convert("America/New_York")

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [179]:
stamp_moscow = pd.Timestamp("2011-03-12 04:00", tz="Europe/Moscow")
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [180]:
stamp_utc.value

1299902400000000000

In [181]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

In [184]:
stamp = pd.Timestamp("2012-03-11 01:30", tz="US/Eastern")
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [185]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [186]:
stamp = pd.Timestamp("2012-11-04 00:30", tz="US/Eastern")
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [187]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [188]:
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-07 09:30:00    0.910570
2012-03-08 09:30:00   -0.410950
2012-03-09 09:30:00   -0.402272
2012-03-12 09:30:00   -0.119117
2012-03-13 09:30:00   -0.560719
2012-03-14 09:30:00   -0.284725
2012-03-15 09:30:00    1.761764
2012-03-16 09:30:00    1.009692
2012-03-19 09:30:00    0.678634
2012-03-20 09:30:00    0.777437
Freq: B, dtype: float64

In [197]:
ts1 = ts[:7].tz_localize("Europe/London")
ts2 = ts1[2:].tz_convert("Europe/Moscow")
ts1

2012-03-07 09:30:00+00:00    0.910570
2012-03-08 09:30:00+00:00   -0.410950
2012-03-09 09:30:00+00:00   -0.402272
2012-03-12 09:30:00+00:00   -0.119117
2012-03-13 09:30:00+00:00   -0.560719
2012-03-14 09:30:00+00:00   -0.284725
2012-03-15 09:30:00+00:00    1.761764
dtype: float64

In [198]:
ts2

2012-03-09 13:30:00+04:00   -0.402272
2012-03-12 13:30:00+04:00   -0.119117
2012-03-13 13:30:00+04:00   -0.560719
2012-03-14 13:30:00+04:00   -0.284725
2012-03-15 13:30:00+04:00    1.761764
dtype: float64

In [199]:
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -0.804543
2012-03-12 09:30:00+00:00   -0.238233
2012-03-13 09:30:00+00:00   -1.121439
2012-03-14 09:30:00+00:00   -0.569450
2012-03-15 09:30:00+00:00    3.523528
dtype: float64

In [191]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [200]:
p = pd.Period("2011", freq="A-DEC")
p

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\520127536.py:1: FutureWarning: 'A-DEC' is deprecated and will be removed in a future version, please use 'Y-DEC' instead.
  p = pd.Period("2011", freq="A-DEC")

Period('2011', 'Y-DEC')

In [201]:
p + 5

Period('2016', 'Y-DEC')

In [202]:
p - 2

Period('2009', 'Y-DEC')

In [204]:
pd.Period("2014", freq="Y-DEC") - p

In [205]:
periods = pd.period_range("2000-01-01", "2000-06-30", freq="M")
periods

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [206]:
pd.Series(np.random.standard_normal(6), index=periods)

2000-01    1.399663
2000-02    0.145994
2000-03    2.120118
2000-04    0.853182
2000-05   -0.597538
2000-06   -0.111850
Freq: M, dtype: float64

In [207]:
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq="Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [208]:
p = pd.Period("2011", freq="A-DEC")
p

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\520127536.py:1: FutureWarning: 'A-DEC' is deprecated and will be removed in a future version, please use 'Y-DEC' instead.
  p = pd.Period("2011", freq="A-DEC")

Period('2011', 'Y-DEC')

In [209]:
p.asfreq("M", how="start")

Period('2011-01', 'M')

In [210]:
p.asfreq("M", how="end")

Period('2011-12', 'M')

In [211]:
p.asfreq("M")

Period('2011-12', 'M')

In [226]:
p = pd.Period("2011", freq="A-JUN")
p

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3767667261.py:1: FutureWarning: 'A-JUN' is deprecated and will be removed in a future version, please use 'Y-JUN' instead.
  p = pd.Period("2011", freq="A-JUN")

Period('2011', 'Y-JUN')

In [227]:
p.start_time

Timestamp('2010-07-01 00:00:00')

In [228]:
p.end_time

Timestamp('2011-06-30 23:59:59.999999999')

In [216]:
# the date begins in July 2010, ends in June 2011
p.asfreq("M", how="start")

Period('2010-07', 'M')

In [217]:
p.asfreq("M", how="end")

Period('2011-06', 'M')

In [218]:
p = pd.Period("Aug-2011", "M")
p.asfreq("A-JUN")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\2271097004.py:2: FutureWarning: 'A-JUN' is deprecated and will be removed in a future version, please use 'Y-JUN' instead.
  p.asfreq("A-JUN")

Period('2012', 'Y-JUN')

In [219]:
p.start_time

Timestamp('2011-08-01 00:00:00')

In [220]:
p.end_time

Timestamp('2011-08-31 23:59:59.999999999')

In [221]:
periods = pd.period_range("2006", "2009", freq="A-DEC")
ts = pd.Series(np.random.standard_normal(len(periods)), index=periods)
ts

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\2389045503.py:1: FutureWarning: 'A-DEC' is deprecated and will be removed in a future version, please use 'Y-DEC' instead.
  periods = pd.period_range("2006", "2009", freq="A-DEC")

2006   -0.815371
2007    0.147742
2008   -0.705351
2009    0.780375
Freq: Y-DEC, dtype: float64

In [222]:
ts.asfreq("M", how="start")

2006-01   -0.815371
2007-01    0.147742
2008-01   -0.705351
2009-01    0.780375
Freq: M, dtype: float64

In [246]:
ts.asfreq("B", how="end")

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\2984082239.py:1: FutureWarning: PeriodDtype[B] is deprecated and will be removed in a future version. Use a DatetimeIndex with freq='B' instead
  ts.asfreq("B", how="end")

2006-12-29   -1.035697
2007-12-31    0.835858
2008-12-31    2.337482
2009-12-31    0.920129
Freq: B, dtype: float64

In [247]:
p = pd.Period("2012Q4", freq="Q-JAN")
p

Period('2012Q4', 'Q-JAN')

In [233]:
p.asfreq("D", how="start")

Period('2011-11-01', 'D')

In [234]:
p.asfreq("D", how="end")

Period('2012-01-31', 'D')

In [248]:
p4pm = (p.asfreq("B", how="end") - 1).asfreq("T", how="start") + 16 * 60
p4pm

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\65030163.py:1: FutureWarning: Period with BDay freq is deprecated and will be removed in a future version. Use a DatetimeIndex with BDay freq instead.
  p4pm = (p.asfreq("B", how="end") - 1).asfreq("T", how="start") + 16 * 60
C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\65030163.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  p4pm = (p.asfreq("B", how="end") - 1).asfreq("T", how="start") + 16 * 60

Period('2012-01-30 16:00', 'min')

In [249]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [250]:
periods = pd.period_range("2011Q3", "2012Q4", freq="Q-JAN")
ts = pd.Series(np.arange(len(periods)), index=periods)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [251]:
new_periods = (periods.asfreq("B", "end") - 1).asfreq("H", "start") + 16
ts.index = new_periods.to_timestamp()
ts

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\4192082523.py:1: FutureWarning: PeriodDtype[B] is deprecated and will be removed in a future version. Use a DatetimeIndex with freq='B' instead
  new_periods = (periods.asfreq("B", "end") - 1).asfreq("H", "start") + 16
C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\4192082523.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  new_periods = (periods.asfreq("B", "end") - 1).asfreq("H", "start") + 16

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [252]:
dates = pd.date_range("2000-01-01", periods=3, freq="M")
ts = pd.Series(np.random.standard_normal(3), index=dates)
ts

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3720281459.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range("2000-01-01", periods=3, freq="M")

2000-01-31    0.138707
2000-02-29    0.554307
2000-03-31   -1.105204
Freq: ME, dtype: float64

In [253]:
pts = ts.to_period()
pts

2000-01    0.138707
2000-02    0.554307
2000-03   -1.105204
Freq: M, dtype: float64

In [254]:
dates = pd.date_range("2000-01-29", periods=6)
ts2 = pd.Series(np.random.standard_normal(6), index=dates)
ts2

2000-01-29    0.530609
2000-01-30   -0.198616
2000-01-31    0.551378
2000-02-01    0.369190
2000-02-02    0.761753
2000-02-03   -0.017749
Freq: D, dtype: float64

In [255]:
ts2.to_period("M")

2000-01    0.530609
2000-01   -0.198616
2000-01    0.551378
2000-02    0.369190
2000-02    0.761753
2000-02   -0.017749
Freq: M, dtype: float64

In [256]:
pts = ts2.to_period()
pts

2000-01-29    0.530609
2000-01-30   -0.198616
2000-01-31    0.551378
2000-02-01    0.369190
2000-02-02    0.761753
2000-02-03   -0.017749
Freq: D, dtype: float64

In [257]:
pts.to_timestamp(how="end")

2000-01-29 23:59:59.999999999    0.530609
2000-01-30 23:59:59.999999999   -0.198616
2000-01-31 23:59:59.999999999    0.551378
2000-02-01 23:59:59.999999999    0.369190
2000-02-02 23:59:59.999999999    0.761753
2000-02-03 23:59:59.999999999   -0.017749
Freq: D, dtype: float64

In [260]:
pts.to_timestamp(how="start")

2000-01-29    0.530609
2000-01-30   -0.198616
2000-01-31    0.551378
2000-02-01    0.369190
2000-02-02    0.761753
2000-02-03   -0.017749
Freq: D, dtype: float64

In [264]:
pts.to_timestamp(how="end").index.dtype

dtype('<M8[ns]')

In [265]:
data = pd.read_csv("examples/macrodata.csv")
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [266]:
data["year"]

0      1959
1      1959
2      1959
3      1959
4      1960
       ...
198    2008
199    2008
200    2009
201    2009
202    2009
Name: year, Length: 203, dtype: int64

In [267]:
data["quarter"]

0      1
1      2
2      3
3      4
4      1
      ..
198    3
199    4
200    1
201    2
202    3
Name: quarter, Length: 203, dtype: int64

In [268]:
index = pd.PeriodIndex(year=data["year"], quarter=data["quarter"],
                       freq="Q-DEC")
index

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\936327627.py:1: FutureWarning: Constructing PeriodIndex from fields is deprecated. Use PeriodIndex.from_fields instead.
  index = pd.PeriodIndex(year=data["year"], quarter=data["quarter"],

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203)

In [269]:
data.index = index
data["infl"]

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [271]:
dates = pd.date_range("2000-01-01", periods=100)
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2000-01-01    0.196350
2000-01-02    0.727743
2000-01-03    0.161154
2000-01-04    2.270219
2000-01-05   -1.054103
                ...
2000-04-05   -0.402064
2000-04-06    1.858392
2000-04-07    1.039311
2000-04-08   -0.781186
2000-04-09   -0.436587
Freq: D, Length: 100, dtype: float64

In [272]:
ts.resample("M").mean()

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\3978117481.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts.resample("M").mean()

2000-01-31    0.311983
2000-02-29    0.215434
2000-03-31   -0.147780
2000-04-30    0.033500
Freq: ME, dtype: float64

In [274]:
ts.resample("ME", kind="period").mean()

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\2425609014.py:1: FutureWarning: The 'kind' keyword in Series.resample is deprecated and will be removed in a future version. Explicitly cast the index to the desired type instead
  ts.resample("ME", kind="period").mean()

2000-01    0.311983
2000-02    0.215434
2000-03   -0.147780
2000-04    0.033500
Freq: M, dtype: float64

In [302]:
dates = pd.date_range("2000-01-01", periods=12, freq="T")
ts = pd.Series(np.arange(start=1, step=1, stop=len(dates)+1), index=dates)
ts

C:\Users\Sam\AppData\Local\Temp\ipykernel_15032\2461718575.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  dates = pd.date_range("2000-01-01", periods=12, freq="T")

2000-01-01 00:00:00     1
2000-01-01 00:01:00     2
2000-01-01 00:02:00     3
2000-01-01 00:03:00     4
2000-01-01 00:04:00     5
2000-01-01 00:05:00     6
2000-01-01 00:06:00     7
2000-01-01 00:07:00     8
2000-01-01 00:08:00     9
2000-01-01 00:09:00    10
2000-01-01 00:10:00    11
2000-01-01 00:11:00    12
Freq: min, dtype: int64

In [303]:
ts.resample("5min").sum()

2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    23
Freq: 5min, dtype: int64

In [304]:
ts.resample("5min", closed="right").sum()

1999-12-31 23:55:00     1
2000-01-01 00:00:00    20
2000-01-01 00:05:00    45
2000-01-01 00:10:00    12
Freq: 5min, dtype: int64

In [305]:
ts.resample("5min", closed="right", label="right").sum()

2000-01-01 00:00:00     1
2000-01-01 00:05:00    20
2000-01-01 00:10:00    45
2000-01-01 00:15:00    12
Freq: 5min, dtype: int64

In [306]:
from pandas.tseries.frequencies import to_offset
result = ts.resample("5min", closed="right", label="right").sum()
result.index = result.index + to_offset("-1s")
result

1999-12-31 23:59:59     1
2000-01-01 00:04:59    20
2000-01-01 00:09:59    45
2000-01-01 00:14:59    12
Freq: 5min, dtype: int64

In [309]:
ts = pd.Series(np.random.permutation(np.arange(len(dates))), index=dates)
ts

2000-01-01 00:00:00     2
2000-01-01 00:01:00     8
2000-01-01 00:02:00    10
2000-01-01 00:03:00     5
2000-01-01 00:04:00     7
2000-01-01 00:05:00    11
2000-01-01 00:06:00     6
2000-01-01 00:07:00     1
2000-01-01 00:08:00     4
2000-01-01 00:09:00     0
2000-01-01 00:10:00     3
2000-01-01 00:11:00     9
Freq: min, dtype: int64

In [310]:
ts.resample("5min").ohlc()

                     open  high  low  close
2000-01-01 00:00:00     2    10    2      7
2000-01-01 00:05:00    11    11    0      0
2000-01-01 00:10:00     3     9    3      9

In [89]:
frame = pd.DataFrame(np.random.standard_normal((2, 4)),
                     index=pd.date_range("2000-01-01", periods=2,
                                         freq="W-WED"),
                     columns=["Colorado", "Texas", "New York", "Ohio"])
frame

In [90]:
df_daily = frame.resample("D").asfreq()
df_daily

In [91]:
frame.resample("D").ffill()

In [92]:
frame.resample("D").ffill(limit=2)

In [93]:
frame.resample("W-THU").ffill()

In [94]:
frame = pd.DataFrame(np.random.standard_normal((24, 4)),
                     index=pd.period_range("1-2000", "12-2001",
                                           freq="M"),
                     columns=["Colorado", "Texas", "New York", "Ohio"])
frame.head()
annual_frame = frame.resample("A-DEC").mean()
annual_frame

In [95]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample("Q-DEC").ffill()
annual_frame.resample("Q-DEC", convention="end").asfreq()

In [96]:
annual_frame.resample("Q-MAR").ffill()

In [97]:
N = 15
times = pd.date_range("2017-05-20 00:00", freq="1min", periods=N)
df = pd.DataFrame({"time": times,
                   "value": np.arange(N)})
df

In [98]:
df.set_index("time").resample("5min").count()

In [99]:
df2 = pd.DataFrame({"time": times.repeat(3),
                    "key": np.tile(["a", "b", "c"], N),
                    "value": np.arange(N * 3.)})
df2.head(7)

In [100]:
time_key = pd.Grouper(freq="5min")

In [101]:
resampled = (df2.set_index("time")
             .groupby(["key", time_key])
             .sum())
resampled
resampled.reset_index()

In [102]:
close_px_all = pd.read_csv("examples/stock_px.csv",
                           parse_dates=True, index_col=0)
close_px = close_px_all[["AAPL", "MSFT", "XOM"]]
close_px = close_px.resample("B").ffill()

In [103]:
close_px["AAPL"].plot()
close_px["AAPL"].rolling(250).mean().plot()

In [104]:
plt.figure()
std250 = close_px["AAPL"].pct_change().rolling(250, min_periods=10).std()
std250[5:12]
std250.plot()

In [105]:
expanding_mean = std250.expanding().mean()

In [106]:
plt.figure()

In [107]:
plt.style.use('grayscale')
close_px.rolling(60).mean().plot(logy=True)

In [108]:
close_px.rolling("20D").mean()

In [109]:
plt.figure()

In [110]:
aapl_px = close_px["AAPL"]["2006":"2007"]

ma30 = aapl_px.rolling(30, min_periods=20).mean()
ewma30 = aapl_px.ewm(span=30).mean()

aapl_px.plot(style="k-", label="Price")
ma30.plot(style="k--", label="Simple Moving Avg")
ewma30.plot(style="k-", label="EW MA")
plt.legend()

In [111]:
plt.figure()

In [112]:
spx_px = close_px_all["SPX"]
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [113]:
corr = returns["AAPL"].rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [114]:
plt.figure()

In [115]:
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [116]:
plt.figure()

In [117]:
from scipy.stats import percentileofscore
def score_at_2percent(x):
    return percentileofscore(x, 0.02)

result = returns["AAPL"].rolling(250).apply(score_at_2percent)
result.plot()

In [119]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS